body{
    background-color: rgb(37, 247, 236);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table,th,td{
    border: 1.5px solid black;
}
table{
    background-color: beige;
}
th{
    background-color: rgb(66, 160, 160);
}
td{
    background-color: rgb(28, 234, 241);
}